body {
  background: #000;
  margin: 0;
}

#main-svg {
  height: 128px;
}

#wrapper {
  display: table;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#div-principal {
  display: table-cell;
  vertical-align: middle;
}

#git-link {
  text-decoration: none;
  p {
    background: #212121;
    display: inline-block;
    vertical-align: middle;
  }
}

#logo {
  margin-left: 5%;
  height: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
}

#giphy-logo {
  height: 32px;
}

#btn-new-gif {
  background: #212121;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Lato", "Sans-Serif";
  padding: 1em;
  margin-top: 2em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 300ms;
  p {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
  }
}

#btn-new-gif:hover {
  background: #333333;
}

#gif-div {
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.default-font {
  font-family: "Lato", "Sans-Serif";
}

.white-font {
  color: white;
}

.main-nav {
  width: 100%;
  background-color: #212121;
  position: fixed;
}
