body {
  font-family: 'Inter', sans-serif;
  background-color: #29252d; /* Cor primária */
  color: #e0e0e0; /* Cor secundária */
}
.accent-color {
  color: #c3905a; /* Cor de destaque */
}
.accent-bg {
  background-color: #c3905a;
}
.secondary-bg {
  background-color: #e0e0e0;
}
.primary-text {
  color: #29252d;
}
.secondary-text {
  color: #e0e0e0;
}
.accent-border {
  border-color: #c3905a;
}
.tech-icon-bg {
  background-color: rgba(224, 224, 224, 0.1); /* Fundo semi-transparente para ícones */
}
.nav-link {
  @apply px-3 py-2 rounded-md text-sm font-medium transition-colors duration-150;
}
.nav-link:hover {
  @apply accent-color;
}
.nav-link.active {
  @apply accent-color;
}
