.homepageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85vh;
}

.presentationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentationText {
  font-size: 4rem;
  width: 45%;
  transition: 400ms;
}

.presentationAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.presentationAbout h1 {
  font-size: 4rem;
  transition: 200ms;
}

.presentationAbout p {
  font-size: 2rem;
  transition: 200ms;
}

.presentationStack {
  margin-top: 1rem;
  cursor: pointer;
}

.presentationStack:hover img {
  margin-left: none;
}

.presentationStack img {
  height: 4rem;
  margin-left: -1rem;

  transition: 200ms;
}

.footerButton {
  width: 15rem;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 1rem;
  font-family: Poppins, 'sans-serif';
  font-weight: medium;
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  display: flex;

  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.footerButtonSvg {
  height: 2rem;
  margin-right: 0.5rem;
  transition: 200ms;
}

.footerButton:hover {
  background: #fff;
  color: #444444;
  width: 18rem;

  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}

.footerButton:hover .footerButtonSvg {
  filter: invert(0.8);
}

@media screen and (max-width: 1100px) {
  .presentationText {
    font-size: 3rem;
  }

  .presentationAbout h1 {
    font-size: 3rem;
  }

  .presentationAbout p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .presentationContainer {
    flex-direction: column;
  }

  .presentationText {
    margin-top: -4rem;
    font-size: 1.8rem;
    width: 100%;
  }

  .presentationAbout {
    width: 100%;
    margin-top: 2rem;
  }

  .presentationAbout h1 {
    font-size: 2rem;
  }

  .presentationAbout p {
    font-size: 1rem;
  }

  .presentationStack img {
    height: 2.5rem;
  }

  .footerButton {
    font-size: 1rem;
    width: fit-content;
  }

  .footerButton:hover {
    width: fit-content;
  }
}
